@font-face{
    font-family: "general";
    src: url("../assets/fonts/Rubik-Regular.ttf");
}
a{
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'general';
}
h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
.contenedor{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #03045e;
}
aside{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
    color: #ab2a3e;
    position: sticky;
    top: 0;
    height: 100px;
    padding-right: 0;
}
.titulo{
    font-weight: 400;
    font-size:2 rem
}
footer{
    color: white;
    font-size: 1rem;
}
main{
    background-color: #ab2a3e;
    margin:1rem;
    margin-left: 0;
    border-radius: 30px;
    padding: 25px;

}
.tituloMain{
    color: #03045e;
    margin-bottom: 30px;

}
.principal{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.productoImagen{
    max-width: 100%;
    border-radius: 20px;
}
.producto__informacion{
    background-color: #03045e;
    color: #ab2a3e;
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
.producto__agregar{
    border: 0;
    background-color: #ab2a3e;
    color: #03045e;
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.botonMenu{
    background-color: transparent;
    border: 0;
    color: #ab2a3e;
    cursor: pointer;
    gap: 1rem;
    font-weight: 700;
    padding:.5rem;
}
/* CSS CARRITO */
.textoCarrito{
    color: #03045e;
    
}
.productosCarrito{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.productoCarrito{
 display: flex;
 justify-content: space-between;
 background-color: grey;
 color: #03045e;
 padding: 10px;
 border-radius: 2rem;
}
.productosCarritoImagen{
    width: 8rem;
    border-radius: 2rem;
}
.productoCarrito small{
    font-size: .80rem;
}
.carritoProductoBorrar{
    border: 0;
    background-color: transparent;
    color: yellow;
    cursor: pointer;
}
.accionesCarrito{
    display: flex;
    justify-content: space-between;
}
.accionesCarritoVaciar{
    border: 0;
    background-color: yellow;
    border-radius: 1 rem;
    padding: 2rem;
    cursor: pointer;
}
.accionesCarritoComprar{
    border: 0;
    background-color: yellow;
    border-radius: 1 rem;
    padding: 2rem;
    cursor: pointer;
}
.disabled {
    display: none;
}